* {
    box-sizing: border-box;
}

body {
    font-family: 'inter', sans-serif;
    background-color: #f7f7f7;
    padding: 15px;
}

a {
    text-decoration: none;
}

.page-wrapper {
    overflow: hidden;
    max-width: 375px;
    margin: auto;
    background: #f7f7f7;
    box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
    border-radius: 20px;
}

.container {
    max-width: 300px;
    margin: auto;
}

.header {
    color: #fff;
    padding: 40px 42px 145px;
    background: Linear-gradient(0deg, rgba(58, 58, 58, 0.8), rgba(58, 58, 58, 0.5)), url('../images/fernando-hernandez-JdoofvUDUwc-unsplash.jpg') no-repeat center / cover;
    border-radius: 0px 0px 90px 90px;
}

.hello {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.hello-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.user {
    margin-top: -80px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
    border-radius: 10px;
    padding-bottom: 21px;
    margin-bottom: 12px;
}

.user-avatar {
    margin-top: -43px;
    width: 90px;
    height: 90px;
    border: 5px solid #fff;
    border-radius: 50%;
}

.user-name {
    margin: 8px 0 4px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.user-description {
    margin: 4px 0 0 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #6a6a6a;
}

.card {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(128, 127, 127, 0.25);
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    max-width: 260px;
    margin: auto;
    gap: 10px;
    margin-bottom: 12px;
}

.button {
    display: flex;
    background-color: #000;
    flex-shrink: 1;
    width: 100%;
    overflow: hidden;
    object-fit: fill;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(128, 127, 127, 0.5);
}

.button-icon {
    background-color: #fff;
    padding: 10px;
    object-fit: fill;
    width: 80px;
    height: 100%;
}

.button.vk .button-icon {
    background-color: #1A4B78;
}

.button.whats .button-icon {
    background-color: #59CE72;
    padding: 5px;
}

.button.tg .button-icon {
    background-color: #0088CC;
}

.button.github {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.github .button-icon {
    width: auto;
    background-color: #000;
    height: 100%;
}

.button-text {
    color: #ffffff;
}